#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

li img {
  max-width: 25%;
  margin-right: 20px;
}

li {
  margin: 5%;
  margin-top: 5%;
  display: flex;
  list-style: none;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

button {
  margin-top: 3%;
  background-color: #f3ce13;
}

.search-input {
  margin-top: 3%;
  padding: 12px;
}

.text-container {
  flex-direction: column;
  text-align: left;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  max-width: 55%;
}